

body{
background-color: white;
font-family: Verdana;
color: #000080;
}


a {
    color: #000080;

   line-height: 1.4em;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }