

body{
background-color: LightSeaGreen;
font-family: Verdana;
color: White;
}


a {
    color: White;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }